<!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="/<%= @account.url %>">
          being fruitful
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="" data-reveal-id="aboutmodal">About</a></li>
      <li class="divider"></li>
      <li><a href="" data-reveal-id="proplanmodal">Pro Plan</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="" id="">Language</a>
        <ul class="dropdown">
          <li><a href="" class="setLanguage" data-language="en">English</a></li>
          <li><a href="" class="setLanguage" data-language="de">Deutsch</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="/<%= @account.url %>" id="accountname"><%= @account.name %></a>
        <ul class="dropdown">
          <li><a href="" id="editmodal-link">Change Name</a></li>
          <li><a href="" id="logoutmodal-link">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<!-- End Header and Nav -->
