<!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="/<%= @account.url %>">
          being fruitful
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="/<%= @account.url %>" id="accountname"><%= @account.name %></a>
        <ul class="dropdown">
          <li><a href="" id="editmodal-link">Change name</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="divider"></li>
          <li><a href="/new">Create new account</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<!-- End Header and Nav -->
