.row
  .small-6.small-centered.columns
    %h1
      Was your day successful?
    %ul.small-block-grid-1
      %li
        %a.large.button.expand.success{:href => ""} YES
      %li
        %a.large.button.expand.alert{:href => ""} NOPE
