<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-title" content="fruitful">

  <title>fruitful beta</title>

  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <link rel="stylesheet" href="/stylesheets/add2home.css" />

  <script src="/javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>
  <%= partial(:headernavbar, :template_engine => :erb) %>

  <!-- Main Section -->
  <div class="row">
    <div id="responsivebox" class="large-6 large-centered columns">
      <%= yield %>
      <span id="tristategraph">Statistics will show up in a few seconds.</span>
      <span id="piecharts" class="pull right" style="display: none;">
        <span id="td-piechart">&nbsp;</span>&nbsp;td
        <span id="yd-piechart">&nbsp;</span>&nbsp;yd
        <span id="wk-piechart">&nbsp;</span>&nbsp;wk
      </span>
    </div>
  </div>

  <!-- End Main Section -->

  <!-- Footer -->

  <footer class="row">
    <div class="small-12 columns small-centered text-center">
      <hr />
      <p>Delivering Happiness since 2012. Powered by Sinatra. Crafted with Sublime Text. ♡</p>
    </div>
  </footer>

  <%= partial(:foundationjs, :template_engine => :erb) %>
</body>
</html>

